* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html *, body * {
  margin: 0;
  padding: 0
}

/* Fonts */

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Colors */
:root {
  --pink-500: #d63384;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--pink-500);
}

body{
  color: rgb(93, 93, 93);
}

nav {
  min-height: 70px;
  padding: 0 20px;
  box-shadow: 1px 0px 4px 1px #f6eaf6;
}

nav #logo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.5em;
}

nav #logo a, nav #logo a:visited {
  text-decoration: none;
}


nav ul {
  display: flex;
}

nav li {
  margin-right: 10px;
  list-style: none;
}


nav li a:visited, nav li a, nav a{
color: #606060ed;
text-decoration: none;
font-weight: 700;
font-family: Arial, Helvetica, sans-serif;
}

nav li a:hover{
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero h1 {
  font-size: 2.5em;
  letter-spacing: 1px;
  margin: 50px 0;
  max-width: 20ch;
}

/* .active {
  color: rgb(89, 59, 255)!important;
} */

main {
  width: 95%;
  margin: 0 auto;
}

#intro {
  
}

.intro__text {
background-color: #f2f2f2;
}

.intro__text h2 {
  font-size: 3em;
  margin: 0 0 20px 0;
}
.intro__image{
  flex: 2;
}
.intro__image img {
width: 100%;
height: 100%;
max-height: 450px;
object-fit: cover;
object-position: center;
}

/* Galeria */
#galeria h2 {
  font-size: 3em;
}

.galeria__grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.galeria__images {

}

.galeria__images div {
  /* max-height: 300px;
  min-height: 300px;
  max-width: 400px; */
  overflow: hidden;
} 

section .galeria__images img {
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

section .galeria__images img:hover {
  width: 110%;
  height: 110%;
  object-fit: cover;
  object-position: center;
}



/* Contacto */

#titulo-contactanos {

  margin-top: 100px;
}


#contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
}

#contacto form {
  width: 100%;
  margin: 0 auto;
} 


#contacto form textarea {
  width: 100%;
}


/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

/* Modal */
.galeria-thumb { cursor: pointer; }
#modalImage { 
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
  transition: 0.5s ease-in-out;
  max-height: 300px; 
}



/* Mediaqueries */


@media screen and (max-width: 768px) {
  .galeria__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  section .galeria__grid img:hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/* VALIDACION COLUMNAS ESTILO */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
}



.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
  max-width: 800px;
	width: 90%;
	margin: 0 auto;
	padding: 40px;
  justify-content: center;
  align-items: center;

}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}


.formulario__grupo {
  min-height: 150px;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}